:root {
    --font-primary: 'Clash Display', 'Montserrat', 'Poppins', 'Lexend', 'Helvetica', 'Arial', sans-serif;
    --font-body: 'Clash Display', 'Montserrat', 'Poppins', 'Lexend', 'Helvetica', 'Arial', sans-serif;

    --clr-primary: #60F053;
    --clr-black: #000;
    --clr-gray-darkest: #1A1A1A;
    --clr-gray-darker: #333;
    --clr-gray-dark: #888;
    --clr-gray: #ccc;
    --clr-gray-light: #d5d5d5;
    --clr-gray-lighter: #e7e7e7;
    --clr-gray-lightest: #f5f5f5;
    --clr-white: #fff;
}