:root {
    --font-primary: 'Clash Display', 'Montserrat', 'Poppins', 'Lexend', 'Helvetica', 'Arial', sans-serif;
    --font-body: 'Clash Display', 'Montserrat', 'Poppins', 'Lexend', 'Helvetica', 'Arial', sans-serif;

    --clr-primary: #60F053;
}